body{
  background: #f0f2f5;
}
.site-layout-content {
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.waka-select {
  margin: 20px 0;
}
.range-select {
  margin-right: 20px;
}
.gist-input{
  width: 350px;
  margin-left:20px;
}
.waka-hd{
  display: flex;
  align-items: center;
}
.empty{
  display: block;
  width: 100px;
  margin: 50px auto;
}