body {
  background: #f0f2f5;
}
.site-layout-content {
  padding: 24px;
  background: #fff;
  h2 {
    text-align: center;
  }
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.waka-select {
  margin: 20px 0;
}
.range-select {
  margin-right: 20px !important;
}
.gist-input {
  width: 350px;
  margin-left: 20px;
}
.waka-hd {
  display: flex;
  align-items: center;
}
.empty {
  display: block;
  width: 100px;
  margin: 50px auto;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #c7e0f5;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #9cc4e4;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #72a8d4;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #4d8cc4;
}
.react-calendar-heatmap .color-gitlab-5 {
  fill: #2e70b5;
}
.react-calendar-heatmap .color-gitlab-6 {
  fill: #1a56a6;
}
.react-calendar-heatmap .color-gitlab-7 {
  fill: #0d3d97;
}
.react-calendar-heatmap .color-gitlab-8 {
  fill: #082b88;
}
.react-calendar-heatmap .color-gitlab-9 {
  fill: #041c79;
}
.react-calendar-heatmap .color-gitlab-10 {
  fill: #02116a;
}
.react-calendar-heatmap .color-gitlab-11 {
  fill: #01095b;
}
.react-calendar-heatmap .color-gitlab-12 {
  fill: #00054c;
}
.react-calendar-heatmap .color-gitlab-13 {
  fill: #00033d;
}
.react-calendar-heatmap .color-gitlab-14 {
  fill: #00022e;
}
.react-calendar-heatmap .color-gitlab-15 {
  fill: #00011f;
}
